@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap")

@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap")

* 
  margin: 0
  padding: 0
  box-sizing: border-box
  border: none
  outline: 0
  text-decoration: none
  list-style: none
  overflow-x: hidden

// variables
$dark: #111618
$lt-dark: #111618cc
$shadow-color: #1116182c
$light: #b8ead9
$green: #c0f984
$red: #fd593d
$yellow: #FDB850
$textBig: 30px
$textSmall: 15px
$padding: 3rem
$padding-sm: 0.5rem
$titleFont: "Bubblegum Sans", cursive
$noteFont: "Kalam", cursive


.navbar 
  font-size: $textBig
  padding: 1.1rem $padding 0 $padding

.navbar
  span 
    color: $green

.navbar
  .link
    color: $light    
  


.navbar,
.footer 
  height: 5rem
  font-family: $titleFont
  background-color: $dark 



.footer 
  font-size: $textSmall
  padding-top: 1.8rem
  text-align: center

.footer
  h3
    color: $light
    opacity: 0.8
    
.footer
  span
    color: $red


.main 
  background-color: $light
  color: $dark
  min-height: 75vh
  font-family: $noteFont
  padding: 1rem $padding
  font-size: 20px


.notes-wrapper
  display: flex
  flex-wrap: wrap
  gap:1.8rem
  padding: 0.8rem

.notes-wrapper
  div#note-card
      padding: $padding-sm
      width: 285px
      height: 250px
      box-shadow: 0 0 10px 5px $shadow-color
      overflow-y: hidden

.notes-wrapper
  div.new-note
      background-color: $lt-dark !important
      color: $light
      border: 5px dashed $red
      border-radius: 15px
      font-size: 30px
      display: flex
      flex-direction: column
      align-items: center
      padding-top: 5rem !important
      

.notes-wrapper
  div#note-card:nth-child(3n+1) 
      background-color: $red
      


.notes-wrapper
  div#note-card:nth-child(3n+2)
      background-color: $green


  .notes-wrapper
  div#note-card:nth-child(3n+3)
      background-color: $yellow


.notes-wrapper
  h3, .note-card-body
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis
    max-width: 250px

.note-card-buttons
  display: flex
  gap: 1rem

.note-card-buttons
  button
    padding: 0.5rem
    border-radius: 5rem


input.border-normal
    border: 2px solid $green
    transition: 0.5s
    outline: none

input.border-red
    border: 2px solid $red

